canvas {
    width: 100%;
    /* default graph size, custom size to be added */
    max-width: 310px;
}

.card {
    padding: 15px;
}

.card-body {
    padding: 16px 16px 0;

    h6 {
        text-align: center;
    }
}

canvas#piechart_gradescience {
    margin: auto;
    max-width: 162px;
}

#table-graph {
    th, td {
        border-width: 1px;
    }
}
