.btn-warning {
    color: black; /* improve contrast */
}

section {
    margin: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

img.no-record {
    max-width: 200px;
    height: auto;
}

iframe {
    width: 100%;
    height: calc(100vh * 9 / 16); /*to ensure 16:9 ratio*/
}

.navbar {
    padding-left: 15px;
    padding-right: 15px;
}

/* .navbar.bg-custom {
    background-color: #D9D9D9;
} */

.navbar-brand {
    width: 90px;
    height: auto;
}

nav[aria-label] {
    display: flex;
    justify-content: center;
}

.center {
    margin: auto;
    width: 45%;
}

.center.text {
    text-align: center;
}

.slick-carousel {
    max-width: 600px;
}

.slick-arrow, .slick-arrow:hover, .slick-arrow:focus {
    background-color: cornflowerblue;
}

.slick-slide img {
    margin: auto;
}

.about {
    text-align: justify;
}

table#post {
    width: 100%;
    table-layout: fixed;
}

table#post th, table#post td {
    border: 1px solid black;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table#post col#date {
    width: 15%;
}

table#post col#title {
    width: 30%;
}

/* col#description takes up the rest of the width */

table#post col#action {
    width: 13%;
}

th {
    background: #f2f2f2;
}

button.crud {
    float: right;
    width: auto;
    min-width: 100px;
    margin-left: 20px;
}

.spinner-border {
    display: none;
}

div#forgot{
    text-align: center;
}

.no-padding {
    padding-left: 0;
}

.login-field {
    background-color: lightblue;
    border: none;
}

#roster {
    overflow-x: auto;
}

#roster table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
}

#roster th, #roster td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

#roster th {
    position: sticky;
    top: 0;
}

.img-btn img {
    max-width: 30px;
    height: auto;
}

a.img-btn {
    text-decoration: none;
}

.close {
    float: right;
}

#logout {
    display: inline;
}

table#feedback {
    width: 100%;
    table-layout: fixed;
}

table#feedback th, table#feedback td {
    border: 1px solid black;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table#feedback col#select {
    width: 34px;
}

table#feedback col#date {
    width: 15%;
}

table#feedback col#name {
    width: 18%;
}

table#feedback col#title {
    width: 25%;
}

/* col#description takes up the rest of the width */

table#feedback col#action {
    width: 51px;
}

.feedback-list-action {
    display: flex;
    justify-content: flex-end;
}

.feedback-list-action button {
    margin: 0 10px;
}

.action {
    text-align: center;
}

.action button {
    margin: 0 5px;
}

footer {
    text-align: center;
}

/* footer will always attach to bottom of screen */
body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* isolate forms for proper responsive elements */
body.form {
    display: block;
}

/* UI 2.0: onwards */
body {
    background-color: lightyellow;
}

.navbar.bg-custom {
    background-color: tan;
}

.message-header {
    background-color: peru;
}

table th {
    background-color: tan;
}

div.card {
    background-color: transparent;
}

.unread {
    background-color: lightcyan;
}

.roster-form .sticky {
    background-color: lightyellow;
}

.divider {
    background-image: url('/media/pattern.png');
    background-repeat: repeat-x;
    background-size: contain;
    height: 12vw;
    width: 100%;
    margin-top: -8%;
}

/* Container for the image and overlay */
.hero-section {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Style for the image */
.hero-section img {
    width: 100vw;
}

/* Translucent overlay with centered text */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* trapezium      topL  topR  btmR       btmL*/
    clip-path: polygon(0 0, 60% 0, 100% 100%, 0 100%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    text-align: left;
    padding: 0 16% 8% 2%;
}

h1.large-text.en {
    font-size: 2.9rem;
}

p.large-text.en {
    font-size: 1.2rem;
}

h1.large-text.ch {
    font-size: 4rem;
}

p.large-text.ch {
    font-size: 1.2rem;
}

.hidden {
    display: none;
}
